# Futures Strategy

## Imports

In [1]:
# <imports>
import pandas as pd
import numpy as np
import requests

# import plotly.io as pio
# pd.options.plotting.backend = "plotly"
# pio.templates.default = "none"

## Trades

In [4]:
r = requests.get("http://localhost:8000/trades")
data = r.json()
df.dtypes

id                     int64
symbol                object
time                   int64
orderIdFuture          int64
sideFuture            object
qtyFuture            float64
priceFuture          float64
quoteQtyFuture       float64
commissionFuture     float64
realizedPnlFuture    float64
orderIdMargin          int64
sideMargin            object
qtyMargin            float64
priceMargin          float64
quoteQtyMargin       float64
commissionMargin     float64
realizedPnlMargin    float64
commissionTotal      float64
realizedPnlTotal     float64
dtype: object

## Income

In [3]:
r_income = requests.get("http://localhost:8000/income-history")
income_data = r_income.json()
df_i = pd.DataFrame([i for i in income_data if i["incomeType"] == "FUNDING_FEE"]).astype({"income": float})
df_i.groupby("symbol").sum()["income"]

symbol
BTCUSDT    0.133089
DOTUSDT    0.084551
ETHUSDT    0.014862
Name: income, dtype: float64

## Trades

In [7]:
df = pd.DataFrame(data)
df = df.groupby("symbol").sum()[["commissionTotal", "realizedPnlTotal"]]
df.columns = ["commission", "realizedPnl"]
df["fundingFee"] = df_i.groupby("symbol").sum()["income"]
df.commission = df.commission * -1
df["Total"] = df.sum(axis=1)
df = df.T
df["Total"] = df.sum(axis=1)
df

symbol        BTCUSDT  DOGEUSDT   DOTUSDT   ETHUSDT     Total
commission  -8.244763 -0.279878 -0.261151 -0.417582 -9.203373
realizedPnl  0.197672  0.000000  0.000000  0.135700  0.333372
fundingFee   0.133089       NaN  0.084551  0.014862  0.232501
Total       -7.914002 -0.279878 -0.176600 -0.267020 -8.637500